* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	background-color: white;
	color: black
}

h1{
	padding: 50px;
	font-size: 350%;
	text-align: center;
	color: rgb(255, 255, 255);
	filter: drop-shadow(0 0 0.1rem rgb(255, 249, 249));
}

main{
	padding-top: 100px;
    padding-bottom: 100px;
	text-align: center;
}

body {
background-color: rgb(14, 89, 87);
}

label{
	font-size: 20px;
	font-weight: 900;
	text-align: left;
	width: auto;
	height: 2rem;
	margin: 1rem;
}
input{
margin: 10px;
padding: 20px 20px;
height: 50px;
}

button {
	font-weight: 600;
    font-size: larger;
    background-color: rgb(14, 89, 87);
    color: white;
	margin:  20px;
    padding: 20px 20px;
    border-radius: 35px;
	border: rgb(255,165,0) 2px solid;
	width: auto;
    filter: drop-shadow(0 0 0.2rem rgb(255,165,0));
}

input {
	text-align: center;
	font-size: x-large;
	font-weight: 800%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
	border-radius: 25px;
	margin: 15px;
	padding: 20px 20px;
	border: none;
	outline: none;
	color: rgb(20, 20, 20);
	background-color: #fffbfb;
	box-shadow: inset 1px 1px 12px rgb(199, 198, 198);
}


@media screen and (min-width: 539px) {
	#login-form {
		display: grid;
		margin: 50px 80px;
		width: auto;
		margin-top: 80px;
		padding: 20px 100px;
		background-color: rgb(255, 255, 255);
		border: 1px solid #ddd;
		border-radius: 10px;
		color: black;
		filter: drop-shadow(0 0 0.9rem rgba(255, 249, 249, 0.481));
		align-items: center;
	}
}


@media screen and (min-width: 1020px) {
	#login-form {
		display: grid;
		margin: 50px , 100px;
		width: auto;
		margin-top: 80px;
		padding: 20px 100px;
		background-color: rgb(255, 255, 255);
		border: 1px solid #ddd;
		border-radius: 10px;
		color: black;
		filter: drop-shadow(0 0 0.9rem rgba(255, 249, 249, 0.554));
		align-items: center;
	}
}


@media screen and (min-width: 1118px) {
	#login-form {
		display: grid;
		margin: 120px 180px;
		width: auto;
		margin-top: 80px;
		padding: 20px 100px;
		background-color: rgb(255, 255, 255);
		border: 1px solid #ddd;
		border-radius: 10px;
		color: black;
		filter: drop-shadow(0 0 0.9rem rgba(255, 249, 249, 0.506));
		align-items: center;
	}
}

